<template>
    <div class="mt-4">
       <h2>Editar: {{id}}</h2>
       <form @submit.prevent="editarTarea(tarea)">
           
           <div class="form-group row mt-3">
               <div class="col-lg-9">
                    <input 
                    type="text"
                    v-model="tarea.nombre"
                    class="form-control">
               </div>
               <div class="col-lg-3">
                    <button class="btn btn-success w-100" type="submit" >Editar</button>
               </div>
           </div>

       </form>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
    export default {
        name: 'Editar',
        data(){
            return {
                id: this.$route.params.id
            }
        },
        created(){
            this.getTarea(this.id);
        },
        methods:{
            ...mapActions(['getTarea','editarTarea'])
        },
        computed:{
            ...mapState(['tarea'])
        }
        
    }
</script>

