<template>
    <div>
       <h1 class="text-center">Lista de Tareas</h1>
       <router-link to="/registro">
       <button class="btn btn-primary">Nuevo registro</button>
       </router-link>
       <ul class="list-group mt-3">
           <li 
           v-for="tarea in tareas" :key="tarea.id" 
           class="list-group-item d-flex justify-content-between align-items-center">
              <p class="m-0">{{tarea.nombre}} - {{tarea.id}}</p>
              <div>
                <router-link 
                    :to="{name: 'Editar', params: {id: tarea.id}}"
                    class="btn btn-info btn-sm">
                        Editar
                </router-link>
                <button 
                    class="btn btn-danger btn-sm ml-2" 
                    @click="eliminarTarea(tarea.id)">Eliminar</button>
              </div>
              
           </li>
       </ul>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex';

    export default {
        name: 'Inicio',
        created(){
           this.getTareas()
        },
        methods:{
            ...mapActions(['getTareas','eliminarTarea'])
        },
        computed:{
            ...mapState(['tareas'])
        }
    }
</script>

<style lang="scss" scoped>

</style>