<template>
    <div>
       <form @submit.prevent="guardarDatos">

           <div class="form-group row mt-5">
               <div class="col-lg-9">
                 <input 
                    type="text"
                    v-model.trim="nombre"
                    placeholder="Nombre de tarea"
                    class="form-control"
                    >
               </div>
               <div class="col-lg-3">
                    <button class="btn btn-success w-100" type="submit">Registrar</button>
               </div>
           </div>

       </form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
    export default {
        name:"Registro",
        data(){
            return{
                nombre: ''
            }
        },
        methods:{
            ...mapActions(['newTarea']),
            guardarDatos(){
                if(this.nombre === ''){
                    console.log('está vacio')
                    return;
                }
                this.newTarea(this.nombre)
            }
        }
        
    }
</script>

